.about-page {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 10px;
    overflow-y: auto;
}

.edit-button {
    align-self: flex-end;
    padding: 10px 20px;
    border: none;
    background-color: green;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.about-content {
    display: flex;
    justify-content: space-between;
    flex: 100;
    gap: 100px;
}

.about-description {
    flex: 1;
    padding-right: 20px;
}

.about-description h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.about-description p {
    font-size: 16px;
    line-height: 1.5;
}

.about-content::after {
    content: "";
    flex: 0 0 20px;
}

.about-details {
    flex: 1;
}

.about-details p {
    font-size: 16px;
    margin: 5px 0;
    line-height: 1.5;
}
